
# =================================App Listen PORT=========================================================
 PORT=5030


# =================================DataBase[MongoDB] Credentials================================================

# [ATLAS]
	# MONGO_URI=mongodb+srv://<username>:<password>@freecluster.twphpjh.mongodb.net/finTrackDB
	# MONGO_USER=USERNAME
	# MONGO_PASS=PASSWORD


# [LOCAL]
	MONGO_URI = mongodb://localhost:27017/finTrackDB


# ==========================================COOKIE PROPERTY===============================================
# admin LogIN Cookie
	COOKIE_PROPERTY1_SECURE=dev              # production
	COOKIE_PROPERTY2_SAME_SITE=Lax           # //"None", //'Lax', //'strict'
	COOKIE_PROPERTY3_MAX_AGE=259200000       # mile second
	COOKIE_PROPERTY4_HTTP_ONLY=dev           # production
	COOKIE_PROPERTY5_DOMAIN=localhost        # .wellcartbd.com
	COOKIE_PROPERTY6_PATH =/

# ==========================================CORS DOMAIN==================================================
	CORS_ALLOWED_DOMAIN=http://localhost:5173    # https://wellcartbd.com


# ==========================================RATE LIMIT==================================================
	RATE_LIMIT_WINDOW_MS=900000    # 15 minutes in milliseconds
	RATE_LIMIT_MAX=3000            # Max 3000 requests per window

# ==========================================FILE SIZE REQUEST==================================================
	URLENCODED_LIMIT=50mb
