/*a{*/
/*    text-decoration: none!important;*/
/*}*/



/* Card */
.auth-card {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 16px;
    background: #0f1629;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    border: 1px solid white;
}

/* Title */
.auth-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

/* Input */
.auth-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    transition: 0.2s;
}

.auth-input:focus {
    border-color: #2563eb;
    outline: none;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

/* Button */
.auth-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #04051c;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.auth-btn:hover {
    background: #1d4ed8;
}

/* Links */
.auth-links {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.auth-links a,
.auth-single-link {
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

}

.auth-links a:hover,
.auth-single-link:hover {
    text-decoration: underline;
}